<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @meta_title %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- SEO meta tags -->
    <meta name="description" content="<%= @meta_description %>">
    <link rel="canonical" href="<%= url_for(only_path: false) %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="<%= @is_article ? 'article' : 'website' %>" />
    <meta property="og:title" content="<%= @meta_title %>" />
    <meta property="og:description" content="<%= @meta_description %>" />
    <meta property="og:url" content="<%= url_for(only_path: false) %>" />
    <meta property="og:site_name" content="FBA Digest" />

    <% if @is_article %>
      <meta property="article:section" content="<%= @meta_article_section %>" />
      <meta property="article:published_time" content="<%= @meta_article_published_time %>" />
    <% end %>

    <meta property="og:image" content="<%= @meta_image %>" />
    <meta property="og:image:secure_url" content="<%= @meta_image %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="<%= @meta_description %>" />
    <meta name="twitter:title" content="<%= @meta_title %>" />
    <meta name="twitter:image" content="<%= @meta_image %>" />
    <!-- end SEO meta tags -->

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#3498db">
    <meta name="apple-mobile-web-app-title" content="FBA Digest">
    <meta name="application-name" content="FBA Digest">
    <meta name="msapplication-TileColor" content="#3498db">
    <meta name="theme-color" content="#3498db">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if @decoded_vapid_public_key %>
      <script>
        window.vapidPublicKey = new Uint8Array(<%= @decoded_vapid_public_key %>);
      </script>
    <% end %>

    <% if @force_notification_subscribe %>
      <script>
        subscribe_for_webpush();
      </script>
    <% end %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128490812-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128490812-1');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '658303934329692');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=658303934329692&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
  </head>

  <body>
    <div id="fb-root"></div>
    <%= render partial: 'navbar' %>
    
    <% if notice || alert %>
      <div class="container-fluid alert-block">
        <% if notice %>
          <div class="row">
            <div class="col-sm-12">
              <p class="alert alert-success"><%= notice %></p>
            </div>
          </div>
        <% end %>
        <% if alert %>
          <div class="row">
            <div class="col-sm-12">
              <p class="alert alert-danger"><%= alert %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <script type="text/javascript">var is_posts_page = false;</script>

    <%= yield %>
    
    <% if @has_footer %>

      <% if @new_posts_today > 1 %>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 text-center">
              <a class="text-danger" href="/"><strong><%= @new_posts_today %></strong> new posts to help Amazon sellers posted today!</a>
            </div>
          </div>
        </div>
      <% end %>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <a href="/terms-of-service">Terms of Service</a> | <a href="/privacy-policy">Privacy Policy</a>    
            </div>
            <div class="col-sm-4">
              <p class="muted float-right">&copy; FBA Digest. All rights reserved</p>
            </div>
          </div>
        </div>
      </footer>
    <% end %>

    <%= render partial: 'filters' %>
    <% if user_signed_in? %>
      <%= render partial: 'notifications' %>
    <% else %>
      <%= render partial: 'login' %>
    <% end %>
    <%= render partial: 'user_modal' %>
    <%= render partial: 'post_modal' %>
    <%= render partial: 'sign_in_message_modal' %>
    <%= render partial: 'cookies_eu/consent_banner', locals: {link: '/privacy-policy'} %>
  </body>
</html>
